$cor-escura: red;

@mixin icone-pre {
  fill: $cor-escura;
  height: 15px;
  left: 48px;
  position: relative;
  top: 20px;
  transition: all 0.2s linear;
  width: auto;
  @media (max-width: 768px) {
    left: 43px;
  }
  @media (max-width: 576px) {
    left: 38px;
  }
}


@mixin icone-pre3 {
  fill: $cor-escura;
  height: 15em;
  left: 48px;
  position: relative;
  top: 20px;
  transition: all 0.2s linear;
  width: auto;
  @media (max-width: 768px) {
    left: 43px;
  }
  @media (max-width: 576px) {
    left: 38px;
  }
}

  .imagem-transicao {
    @include icone-pre3;
  }

  .imagem {
    @include icone-pre;
    transition: 0.3s all linear;
    animation: sobeDesce infinite linear 4s;
   }

   @keyframes sobeDesce {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(20px);
    }
    50% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
