<section class="conteudo-interno-caixa">
  <div class="col-12 d-flex flex-column justify-content-between titulo align-items-center">
    <h1>Desenvolvedora FullStack - Java e Angular</h1>
  </div>
  <div class="col-12 titulo">
    <p>Eu codifico sistemas nas áreas: BackEnd e FrontEnd</p>
  </div>
  <div class="p-4 row d-flex flex-column align-items-center">
    <div class="mt-3"> 
      <img class="h-50 w-50 imagem" src="../../../../assets/icons/human-2099157.svg" alt="Logo">
    </div>
  </div>
  <div class="p-5 row d-flex flex-column align-items-center">
    <div class="imagem-transicao mt-3"> 
      <img  src="../../../../assets/icons/img.jpeg" alt="Logo">
    </div>
  </div>
</section>
<section class="section.skills div-colorida p-5 row d-flex flex-column align-items-center">
  <div class="col-12 d-flex flex-column justify-content-between align-items-center">
    <h2>Olá, Eu sou Diana. Prazer em conhecê-lo(a).</h2>
  </div>
  <div class="col-12 p-4 d-flex flex-column align-items-center">
    <p>Desde o início da minha jornada como desenvolvedora há quase 3 anos, fiz trabalho remoto para empresas,
       assim como trabalhei para startups e colaborei com pessoas talentosas para criar sistemas para uso comercial
       . Estou tranquilamente confiante, naturalmente curiosa e trabalhando perpetuamente para melhorar minhas
         habilidades, um projeto de cada vez.</p>
  </div>
</section>
<section class="section.skills row d-flex flex-column align-items-center">
  <div class="div-areas">
    <div class="col-12 d-flex flex-column justify-content-between align-items-center">
      <h2>Olá, Eu sou Diana. Prazer em conhecê-lo(a).</h2>
    </div>
    <div class="col-12 p-4 d-flex flex-column align-items-center">
      <p>Desde o início da minha jornada como desenvolvedora há quase 3 anos, fiz trabalho remoto para empresas,
         assim como trabalhei para startups e colaborei com pessoas talentosas para criar sistemas para uso comercial
         . Estou tranquilamente confiante, naturalmente curiosa e trabalhando perpetuamente para melhorar minhas
           habilidades, um projeto de cada vez.</p>
    </div>
  </div>
</section>