<section class="hero is-white has-text-centered">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="columns">
          <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size-3-mobile">Desenvolvedora FullStack - Java e Angular</h1>
          <h2 class="subtitle is-size-4-desktop">Eu codifico sistemas nas áreas: BackEnd e FrontEnd</h2>
          <img class="avatar" src="../../../../assets/icons/human-2099157.svg" alt="Logo">
        </div>
      </div>
    </div>
  </div>
  <div class="hero-foot">
    <div class="container">
      <img class="is-bottom" src="../../../../assets/icons/img.jpeg" alt="Logo">
    </div>
  </div>
</section>
<section class="section.skills div-colorida p-5 row d-flex flex-column align-items-center">
  <div class="col-12 d-flex flex-column justify-content-between align-items-center">
    <h2>Olá, Eu sou Diana. Prazer em conhecê-lo(a).</h2>
  </div>
  <div class="col-12 p-4 d-flex flex-column align-items-center">
    <p>Desde o início da minha jornada como desenvolvedora há quase 3 anos, fiz trabalho remoto para empresas,
       assim como trabalhei para startups e colaborei com pessoas talentosas para criar sistemas para uso comercial
       . Estou tranquilamente confiante, naturalmente curiosa e trabalhando perpetuamente para melhorar minhas
         habilidades, um projeto de cada vez.</p>
  </div>
</section>
<section class="section.skills row d-flex flex-column align-items-center">
  <div class="div-areas">
    <div class="col-12 d-flex flex-column justify-content-between align-items-center">
      <h2>Olá, Eu sou Diana. Prazer em conhecê-lo(a).</h2>
    </div>
    <div class="col-12 p-4 d-flex flex-column align-items-center">
      <p>Desde o início da minha jornada como desenvolvedora há quase 3 anos, fiz trabalho remoto para empresas,
         assim como trabalhei para startups e colaborei com pessoas talentosas para criar sistemas para uso comercial
         . Estou tranquilamente confiante, naturalmente curiosa e trabalhando perpetuamente para melhorar minhas
           habilidades, um projeto de cada vez.</p>
    </div>
  </div>
</section>