<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img [src]="'assets/icone.png'" alt="Diana Araújo | Desenvolvedora FullStack - Java e Angular" height="48" />
      </a>
      <a class="navbar-burger" role="bytton" aria-label="menu" aria-expanded="false" data-target="#navMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start"></div>
      <div class="navbar-end">
        <a class="navbar-item" href="../../../feature/externo/contrato/contrato.component.html">Contrate-me</a>
        <div class="navbar-item">
          <a class="button is-primary is-outlined is-rounded" href="../../../feature/externo/contato/contato.component.html">Fale Comigp</a>
        </div>
      </div>
    </div>
  </div>
</nav>